@import '../../var';

.btn {
	font-size: 30px;
	font-weight: 700;

	max-width: 400px;
	padding: 22px 56px;

	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: $main-color;

	&:hover {
		background: #e2a300;
	}
}

.btn__catalog {
	font-size: 25px;

	padding: 15px;
}

.btn__discound {
	font-size: 18px;

	width: 152px;
	margin: 0px -3px -5px 0;
	padding: 13px;
}
