@import '../../var';

.menu {
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 50;
	&__search {
		background-color: #fff;
		box-shadow: 0px 5px 20px 0px rgba(157, 157, 157, 0.25);
	}
}
.nav {
	padding-top: 43px;
	padding-bottom: 55px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	&__list {
		display: flex;
		gap: 100px;
		align-self: flex-end;
	}
	&__link {
		color: black;
		font-size: 25px;
		display: inline-block;
		border-bottom: 3px solid transparent;
		padding-bottom: 4px;
		&:hover {
			border-bottom: 3px solid $main-color;
		}
	}
}

.active {
	border-bottom: 3px solid $main-color;
}
.cart {
	display: flex;
	gap: 53px;
	// align-self: center;
}
.input__inner {
	display: none; // width: 100%;
	flex-grow: 1;
	position: relative;
}

.visible {
	display: block;
}
.invisible {
	display: none;
}
