@import '../../var';
.header {
	// min-height: 965px;
	// background-image: url('../../assets/decor/yellow.svg');
	// background-repeat: no-repeat;
	// background-position: right -736px top -319px;

	&__inner {
		position: relative;
	}
}
.decor {
	position: absolute;
	top: -438px;
	right: -865px;
	z-index: -1;
	path {
		fill: $main-color;
	}
}
