@import '../../var';

.cart_cart {
	// background-color: #fff7e1;
	padding-bottom: 30px;
	position: relative;
	&::after {
		background-image: url(../../assets/images/cart/cart_bg.svg);
		content: '';
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: bottom;
		// background-size: contain;
		display: block;
		bottom: -211px;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -1;
	}
	&::before {
		background-color: #fff7e1;
		content: '';
		position: absolute;
		height: 92%;
		width: 100%;
		z-index: -1;
	}
	.inner {
		padding: 110px 113px 86px 137px;
		border-radius: 20px;
		border: 1px solid #e4e4e4;
		background: #fff;
		box-shadow: 0px 0px 50px 0px rgba(163, 163, 163, 0.25);
		.top {
			display: flex;
			justify-content: space-between;
			margin-bottom: 64px;
			.title {
				color: #222;

				font-size: 40px;
				font-weight: 900;
			}
			.btn {
				padding: 10px 18px;
				border-radius: 5px;
				border: 1px solid $main-color;
				background: #fff7e1;
				color: $main-color;
				font-size: 20px;
				font-weight: 600;
			}
		}
		.wrapper {
			.titles {
				font-size: 20px;
				font-weight: 500;

				display: flex;
				justify-content: space-between;
				gap: 79px;
				margin-bottom: 20px;
				li:nth-child(2) {
					padding-left: 7px;
					padding-right: 177px;
				}
				li:nth-child(4) {
					padding-left: 11px;
					padding-right: 28px;
				}
				li:last-child {
					// padding-left: 79px;
					padding-right: 74px;
				}
			}
			.item {
				padding: 30px 65px 30px 57px;
				display: flex;
				// gap: 55px;
				justify-content: space-between;
				align-items: center;
				border-radius: 20px;
				border: 1px solid #f0f0f0;
				background: #fcfcfc;

				path {
					stroke: $main-color;
				}

				.product {
					margin-left: calc(142px - 55px);
					display: flex;
					align-items: center;
					width: calc(478px - 55px);
					gap: 34px;
					.img {
						max-width: 100px;
						height: 113px;

						// object-fit: contain;

						img {
							max-width: 100%;
							max-height: 100%;
							object-fit: contain;
						}
					}
					&__inner {
						display: flex;
						flex-direction: column;
						gap: 10px;
						color: #222;
						font-size: 18px;
						font-weight: 500;
						.title {
							font-size: 25px;
							font-weight: 700;
						}
					}
				}
				.price,
				.discount,
				.total {
					width: calc(140px - 55px);
					color: #222;
					font-size: 25px;
					font-weight: 500;
				}
				.total {
					margin-left: 49px;
					margin-right: -20px;
				}
			}
		}
	}
}
.breadcrumbs {
	color: #222;
	a {
		color: #222;
	}
	svg {
		circle {
			fill: #222;
		}
	}
}
.item + .item {
	margin-top: 30px;
}
