@import '../../var';
.inner {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	margin: 0 auto;

	width: 1380px;
	height: 741px;
	display: flex;
	border-radius: 30px;

	text-align: center;
	position: relative;
	svg {
		position: absolute;
		top: 35px;
		right: 35px;
		height: 55px;
		width: 56px;

		padding: 15px;
	}
	&__left {
		background-color: $main-color;
		min-width: 400px;
		border-radius: 30px 0px 0px 30px;
		padding: 423px 30px 60px;
		img {
			width: 541px;
			height: 443.736px;
			position: absolute;
			top: -45px;
			left: -16px;
		}
		h4 {
			color: #fff;

			font-size: 35px;
			font-style: normal;
			font-weight: 900;
			line-height: normal;
			margin-bottom: 24px;
		}
		p {
			color: #fff;

			font-size: 25px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			margin-bottom: 91px;
		}
		button {
			border-radius: 5px;
			border: 2px solid #fff;
			color: #fff;

			font-size: 25px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			width: 100%;
			background-color: $main-color;
			padding: 20px;
			&:hover {
				background-color: rgba(3, 3, 3, 0.1);
			}
		}
	}

	&__right {
		background-color: #fff;
		border-radius: 0px 30px 30px 0px;

		padding: 34px 150px 60px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		align-items: center;
		img {
			width: 145px;
			height: 39px;
			display: inline;
		}

		button {
			color: #fff;
			font-family: Gilroy;
			font-size: 25px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			border-radius: 5px;
			background: $main-color;
			padding: 20px;
			border: none;
			width: 100%;
			margin: 0;
			margin-top: 10px;
			&:hover {
				opacity: 0.9;
			}
		}
		a {
			color: #000;
			align-self: flex-end;
			font-size: 20px;
			font-weight: 500;
			text-decoration-line: underline;
		}
	}
}
