@import 'reset';
@import 'assets/fonts/fonts';
@import 'var';
body {
	height: 100%;
	scroll-behavior: smooth;
}
html {
	height: 100%;
}
#root {
	height: max-content;
}
body {
	font-family: 'Gilroy', sans-serif;
	font-weight: 500;
	color: #000;
	overflow-x: hidden;
}
#root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	width: 1690px;
	margin: 0 auto;
	padding: 0 15px;
}

section {
	scroll-margin-top: 170px;
}

.testzone {
	margin: 0 auto;
	// border: 1px solid black;
}

.modal {
	font-size: 12px;
}

.remove-decor::before {
	content: none !important;
}
